<header>
    <div class="container">
        <h1>Local Pet Shop</h1>
        <h2>Search our recipes!</h2>
        <!-- <form>
            <input type="checkbox" id="apple" name="apple"/>
            <label for="apple">Apple</label>
            <input type="checkbox" id="banana" name="banana"/>
            <label for="banana">Banana</label>
            <input type="checkbox" id="strawb" name="strawb"/>
            <label for="strawb">Strawberry</label>
            <input type="checkbox" id="pb" name="pb"/>
            <label for="pb">Peanut Butter</label>
            <input type="checkbox" id="chicken" name="chicken"/>
            <label for="chicken">Chicken</label>
            <input type="checkbox" id="cheese" name="cheese"/>
            <label for="cheese">Cheese</label>
            <input type="checkbox" id="tomato" name="tomato"/>
            <label for="tomato">Tomato</label>
            <button class="primary-btn">Search</button>
        </form> -->
        <!-- This would have fired an event passing a string of the item off to get the data with a .filter('item') -->
        <!-- sorry ran out of time ^ -->
        <!-- Ideally this would have been in a search component too -->
    </div>
</header>
